.nftCollectionContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin: 100px 0px;
}
.ethBtn {
  border-radius: 6px;
  border: 1px solid #00ac4f;
  color: #00ac4f;
  font-size: 12px;
  font-family: DM Sans;
  font-weight: 700;
  padding: 8px;
}
.bidBtn {
  border-radius: 50px;
  background: #3d00b7;
  padding: 14px 20px;
  color: #fff;
  font-size: 14px;
  font-family: "Averta Demo PE Cutted Demo";
}
.bidSecondBtn {
  border-radius: 50px;
  border: 2px solid #3d00b7;
  padding: 14px 20px;
  color: #220970;
  font-size: 14px;
  font-family: Averta Demo PE Cutted Demo;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.leftDescription {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.topCollection {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */

  justify-content: start;
}
.greenPersent {
  color: #14c8b0;
  text-align: right;
  font-size: 28px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 103%;
  letter-spacing: -0.5px;
}
.redPersent {
  color: #ff002e;
  text-align: right;
  font-size: 28px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 103%;
  letter-spacing: -0.5px;
}

@media only screen and (max-width: 600px) {
  .nftCollectionContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
    margin: 50px 0px;
  }
}
@media only screen and (min-device-width: 778px) and (max-device-width: 1284px) {
  .nftCollectionContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 100px;
    margin: 100px 0px;
  }

  /* .centerContent h5{
    font-size: 16px;
    white-space: nowrap ;
  }
  .centerSection >img{
    width: 100px;
  }
  .bidBtn {
    padding: 5px 15px;
    font-size: 12px;
  }
  .bidSecondBtn {
    padding: 5px 15px;
    font-size: 12px;
  }
  .ethBtn{
    padding: 0px 5px;
    white-space: nowrap;
    height: 20px;
  }
  .persent{
    font-size: 12px;
    white-space: nowrap;
  } */
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1430px) {
  .bidBtn {
    padding: 10px 20px;
  }
  .bidSecondBtn {
    padding: 10px 20px;
  }
}
