.featureContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  padding-bottom: 100px;

}
.featureMainContainer {
    background-color: rgba(217, 224, 236, 0.2);
    backdrop-filter: blur(25px);
}
.secondaryBtn {
  padding: 10px 20px;
  border-radius: 60px;
  border: 1px solid #2639ed;
  color: #2639ed;
  transition: background-color 0.5s ease;
  font-size: 11.001px;
  font-family: DM Sans;
  font-weight: 700;
}
.secondaryBtn:hover {
  background-color: #2639ed;
  border: 1px solid #2639ed;
  color: white;
}
.featureTitle {
  padding: 40px 0px;
}


@media only screen and (max-width: 600px) {


  .featureContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 80px;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 992px) {
  .featureContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8%;
  }
}
