.mainNftsContainer {
  background: rgba(217, 224, 236, 0.2);
  backdrop-filter: blur(25px);
  /* padding: 64px 0px; */
}
.nftsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.nftsTitle {
  padding-top: 64px;
  padding-bottom: 48px;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  padding-bottom: 40px;
}
.buttons button {
  border-radius: 100px;
  background-color: rgba(220, 220, 220, 0.2);
  color: #000;
  font-size: 14px;
  font-family: DM Sans;
  transition: background-color 0.5s ease;
  font-style: normal;
  font-weight: 500;
  line-height: 17.452px;
  padding: 10px 20px;
  margin-left: 10px;
}
.buttons button:hover {
  background-color: #3d00b7 !important;
  color: white !important;
}
.filterBtn {
  display: flex;
  border-radius: 100px;
  background-color: rgba(220, 220, 220, 0.2);
  color: #000;
  font-size: 14px;
  font-family: DM Sans;
  transition: background-color 0.5s ease;
  font-style: normal;
  font-weight: 500;
  line-height: 17.452px;
  padding: 10px 20px;
  margin-left: 10px;
}
.filterBtn:hover {
  background-color: #3d00b7 !important;
  color: white !important;
}
.nftCard {
  width: 269.876px;
  height: 415px;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}
.Eth {
  color: #00ac4f;
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 700;
}
.time {
  padding: 4.388px 10.971px;
  border-radius: 109.706px;
  background-color: #f5f5f5;
  font-size: 10.971px;
  font-family: DM Sans;
}
.bid {
  color: #4f33a3;
  font-size: 15.359px;
  font-family: DM Sans;
  font-weight: 500;
}
.moreNftBtn {
  padding: 20px 40px;
  border-radius: 50px;
  border: 2px solid #3d00b7;
  color: #4f33a3;
  font-size: 20px;
  transition: background-color 0.5s ease;
  font-family: DM Sans;
  font-weight: 500;
  text-align: center;
}
.moreNftBtn:hover {
  background-color: #3d00b7;
  border: 2px solid #3d00b7;
  color: white;
}
.moreNft {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 47px;
}

@media only screen and (max-width: 600px) {
  .nftsTitle {
    text-align: center;
    margin: 1rem 0rem;
  }
  .nftsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    /* margin: 0% auto !important; */
  }
  .buttonContainer {
    flex-direction: column;
  }
  .nftCard {
    margin: 0% auto;
  }
  .moreNftBtn {
    text-align: center;
    padding: 8px 25px !important;
  }
  .moreNft {
    padding-top: 35px;
    padding-bottom: 27px;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 992px) {
  .nftsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media only screen and (min-device-width: 992px) and (max-device-width: 1334px) {
  .nftsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
  }
  .moreNftBtn {
    padding: 12px 40px;
  }
  .buttons button {
    padding: 10px 15px;
  }
  .filterBtn {
    font-size: 12px;
    padding: 10px 15px;
    margin-bottom: 1.5rem;
  }
}
