
.footerRightSection {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 20px;
}

.footerLinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

@media only screen and (max-width: 600px) {
  .footerLinks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5%;
    margin-top: 5%;
  }
  .copyright {
    margin-top: 26%;
  }
}
