
body {
  font-family: 'Integral CF', sans-serif;
}
h1 {
  color: #000;
  font-size: 40px;
  font-family: "integral_cf";
  font-weight: bolder;
  letter-spacing: 2px;
}

p {
  color: #565656;
  font-size: 18px;
  font-family: DM Sans;
  line-height: 160%;
}

.container{
  padding: 0px 120px;
}