.bannerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between !important;
  align-items: center;
}
.primaryBtn {
  border-radius: 60px;
  background: #3d00b7;
  padding: 20px 40px;
  color: #fff;
  font-size: 20px;
  font-family: "Averta Demo PE Cutted Demo";
  letter-spacing: 1.3px;
  margin: 30px 0px;
}

.countContainer {
   display: flex;
   
}
.countContainer div {
    padding-right: 23px;
}